<section>
  {{ total }}
  <div>
    <button (click)="counterActionUser('increment', $event)" class="increment">+</button>
    <button (click)="counterActionUser('decrement', $event)" class="decrement">-</button>
    <button (click)="counterActionUser('reset', $event)" class="reset">reset</button>
    <ul *ngIf="allDetails">
      <li *ngFor="let detail of allDetails">
        {{ 'At ' + detail.date.toLocaleDateString() + ' ' + ' has been product ' + detail.userAction }}
      </li>
    </ul>
  </div>
</section>

